*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
 background-image: url(https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/13882303_1399599423387212_3650627750374559054_n.jpg?oh=ec53f86e1934e16afe0da7b72d2bb48d&oe=5AAB844C);
 background-repeat: no-repeat;
 background-size: cover;
 
}
 header{
   background: lightblue;
   color: rebeccapurple;
   text-align: center;
   width: 100%;
   font-size: 2em;
 }

.fijo{
  background: rgb(204, 185, 204);
  height: 200px;
  width: 400px;  
  margin-left:15%;
  margin-top: 5%;
  text-align: center;
 }
 .reto{
   width: 400px;
   height: 160px;
   font-size: 2.5em;
   margin-top:30px;
 }
 .span{
   margin-right: 90%;  
 }


.publicando{
  background: rgb(204, 185, 204);
  width: 580px;
  height: 200px;  
  position: absolute;
  bottom: 48%;
  left: 50%;

}
.area {
  background: rgb(204, 185, 204);
  width: 352px;
  height: 152px;
}

 #contador {
  width:50px;
  height: 20px;
  margin-left: 90%;
  font-size: 25px; 
 
}

 #button {
  background: white;
  width:75px;
  height: 35px;
  margin-left: 10%;
  font-size: 13px;
  border-radius: 5px;
  
    
 }

 #visualizando {
   background: transparent;
   height: 400PX;
   width: 50%;
   margin:auto;
   margin-top: 5%;
 }

 .buttonVacio {
   background: red;
 }

 .color {
   background: lightskyblue;
   margin: 10px;
   height: 70px;
   border-radius: 7px; 
   text-align: justify;
   

 }
  .colorblack {
   color: black;
 }

 .colorrosado{
   color: rgb(241, 6, 124);
 }
 .coloramarillo{
   color: yellow;
 }
 
 .colorverde {
   color: green;
 }
 

 