*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  background: green;
  width: 100% ;
}
 .form-twitter {
 background: red;

 }

 input {
  width:50px;
  height: 30px;
 }

 .visualizando {
   outline: 1px solid red;
   height: 50px;
   width: 50px;
 }
